body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
[v-cloak] {
    display: none;
}
a {
    color: #00b7ff;
}
#dataList,
td,
th {
    border: 1px solid #000;
    text-align: center;
}
th {
    padding: 10px;
}
button a {
    color: #fff;
}
