/* button */
button {
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    transition: border 0.2s;
}
button:hover {
    border: 1px solid #1890ff;
}

button[type="primary"] {
    border: 1px solid transparent;
    background-color: #1890ff;
    color: #fff;
    transition: background-color 0.2s;
}
button[type="primary"]:hover {
    /* border: 1px solid transparent; */
    background-color: #1890ffb8;
    color: #fff;
}

/* table */
table,
td,
th {
    text-align: left;
    padding: 12px;
    border: 1px solid #efeff5;
    font-size: 12px;
    text-align: center;
}
table {
    border-collapse: collapse;
}
thead {
    background-color: #efeff585;
    font-weight: 500;
}
tbody {
    background-color: #fff;
}
th {
    padding: 10px;
}
button a {
    color: #fff;
}

/* upload */
/* 通过伪元素控制shadow-dom */
input[type="file"]::-webkit-file-upload-button {
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    transition: border 0.2s;
}
input[type="file"]::-webkit-file-upload-button:hover {
    border: 1px solid #1890ff;
}
